Flask
Flask-SocketIO
eventlet
absl-py==2.1.0
aioquic==1.0.0
altgraph==0.17.4
appdirs==1.4.4
asgiref==3.8.1
astunparse==1.6.3
attrs==21.2.0
Authlib==1.3.0
awscli==1.32.111
base58==2.1.1
bcrypt==4.1.2
beautifulsoup4==4.10.0
beniget==0.4.1
bidict==0.23.1
binwalk==2.1.0
blinker==1.8.2
boto3==1.34.111
botocore==1.34.111
branca==0.7.2
Brotli==1.0.9
capstone==5.0.1
Cartopy==0.23.0
certifi==2024.2.2
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
cliapp==1.0.9
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cmdtest==0.1.1
colorama==0.4.6
colored-traceback==0.3.0
crayons==0.4.0
cryptography==42.0.7
cycler==0.11.0
dbus-python==1.2.18
decorator==4.4.2
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.6.1
docker==7.1.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
dsinternals==1.2.4
et-xmlfile==1.1.0
eventlet==0.37.0
fiona==1.10.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-SocketIO==5.4.1
flatbuffers==24.3.25
folium==0.16.0
fonttools==4.29.1
fs==2.4.12
future==1.0.0
gast==0.6.0
geographiclib==2.0
geopandas==0.14.4
geopy==2.4.1
gevent==24.10.2
gevent-websocket==0.10.1
gmplot==1.4.1
gmpy2==2.1.5
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.66.2
h11==0.14.0
h2==4.1.0
h3==3.7.7
h5py==3.12.1
hashID==3.1.4
hpack==4.0.0
html5lib==1.1
httplib2==0.20.2
hyperframe==6.0.1
idna==3.7
impacket==0.11.0
importlib-metadata==4.6.4
intervaltree==3.1.0
itsdangerous==2.2.0
jeepney==0.7.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonschema==3.2.0
kaitaistruct==0.10
keras==3.6.0
keyboard==0.13.5
keyring==23.5.0
kiwisolver==1.3.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
ldap3==2.9.1
ldapdomaindump==0.9.4
libclang==18.1.1
lxml==4.8.0
lz4==3.1.3+dfsg
Mako==1.3.3
Markdown==3.3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.5.1
mdurl==0.1.2
mitmproxy==10.3.0
mitmproxy_rs==0.5.2
ml-dtypes==0.4.1
more-itertools==8.10.0
MouseInfo==0.1.3
mpmath==0.0.0
msgpack==1.0.8
namex==0.0.8
netifaces==0.11.0
networkx==3.3
numpy==1.24.3
nvidia-nccl-cu12==2.23.4
oauthlib==3.2.0
olefile==0.46
opencv-python==4.10.0.84
openpyxl==3.1.3
opt_einsum==3.4.0
optree==0.13.0
osmnx==1.9.4
packaging==24.1
pandas==2.2.2
paramiko==3.4.0
passlib==1.7.4
pexpect==4.9.0
piexif==1.1.3
pillow==10.4.0
plumbum==1.8.2
ply==3.11
protobuf==4.25.5
psutil==5.9.8
ptyprocess==0.7.0
publicsuffix2==2.20191221
pwntools==4.12.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAutoGUI==0.9.54
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.20.0
pyelftools==0.31
PyExifTool==0.5.6
PyGetWindow==0.0.9
Pygments==2.17.2
PyGObject==3.42.1
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
PyJWT==2.3.0
pylsqpack==0.3.18
PyMsgBox==1.0.9
PyNaCl==1.5.0
pyogrio==0.10.0
PyOpenGL==3.1.5
pyOpenSSL==24.1.0
pyparsing==2.4.7
pyperclip==1.8.2
pyproj==3.6.1
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyqtgraph==0.12.4
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==1.0.1
pyserial==3.5
pyshark==0.6
pyshp==2.3.1
PySocks==1.7.1
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==0.19.2
python-engineio==4.9.1
python-socketio==5.11.4
python3-xlib==0.15
pythran==0.10.0
pytweening==1.2.0
pytz==2022.1
PyYAML==5.4.1
randcrack==0.2.0
requests==2.32.3
rich==13.9.2
ROPGadget==7.4
rpyc==6.0.0
rsa==4.7.2
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.1
scikit-learn==1.5.2
scipy==1.8.0
SecretStorage==3.3.1
service-identity==24.1.0
shapely==2.0.4
simple-websocket==1.1.0
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.3.1
spark-parser==1.8.9
stegano==0.11.3
stegcracker==2.1.0
sympy==1.9
systemd-python==234
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
term-background==1.0.1
termcolor==2.5.0
texttable==1.6.4
theHarvester==0.0.1
threadpoolctl==3.5.0
tornado==6.4
ttystatus==0.38
typing_extensions==4.11.0
tzdata==2024.1
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
uncompyle6==3.9.1
unicodedata2==14.0.0
unicorn==2.0.1.post1
unix-ar==0.2.1
urllib3==2.2.2
urwid-mitmproxy==2.1.2.1
wadllib==1.3.6
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==3.0.3
wrapt==1.16.0
wsproto==1.2.0
xdis==6.1.0
xgboost==2.1.1
XlsxWriter==3.2.0
xyzservices==2024.4.0
z3-solver==4.13.3.0
zipp==1.0.0
zope.event==5.0
zope.interface==7.1.0
zstandard==0.22.0
